/*-*- css-indent-offset: 2 -*-*/
html, body {
  width: 800px;
  font-family: sans;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
body {
  font-size: smaller;
  line-height: 1.5;
  overflow-x: hidden;
}
input {
  font-size: inherit;
  line-height: inherit;
  width: 100%;
}
table {
  border-collapse: collapse;
  table-layout: fixed; width: 100%;
  overflow: auto; display: block; /* needed for scrollbars */
  height: 500px;
}
summary { cursor: pointer; }
ul { margin: 0; }
tr.closed td { background: #ddd; }
td, th {
  border: 1px solid #0004;
  padding: 4px;
  overflow: hidden;
  white-space: nowrap;
  background: #fff;
}
th {
  text-align: left;
  position: relative;
  cursor: pointer;
}
th:after { opacity: .25 }
th.ascending:after { content: " \25BE" }
th.descending:after { content: " \25B4" }
/*[eof]*/
