/*-*- css-indent-offset: 2 -*-*/
html, body {
  width: 800px;
  font-family: sans;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
body {
  font-size: smaller;
  line-height: 1.5;
  overflow-x: hidden;
}
input {
  font-size: inherit;
  line-height: inherit;
}
table {
  border-collapse: collapse;
  table-layout: fixed; width: 100%;
}
th, td {
  border: 1px solid #0004;
  /* FIXME: Total width of table will glitch during column resize unless all
   * padding and border are set to 'px' (or are evenly divisible by px?), in
   * the CSS!! Or if the table width isn't set in the CSS. Also setting
   * 'overflow: hidden' on the body element seems to make a difference. */
  padding: 4px;
  white-space: nowrap;
  min-width: 1em;
  vertical-align: top;
}
th {
  text-align: left;
  position: relative;
  background: #fff;
  cursor: pointer;
}
tbody tr:hover {
  cursor: pointer;
  /* Underline, except if hovering a <summary> element. */
  &:not(:has(summary:hover)) { text-decoration: underline }
  background: #0002;
}
td { overflow: hidden }
ul { margin: 0; }
tr.closed td { background: #ddd; }
th:after { opacity: .25 }
th.ascending:after { content: " \25BE" }
th.descending:after { content: " \25B4" }
details {
  & > summary:before  {
    display: inline-block; /* disables underline */
    padding: 0 4px;
    margin: 0 2px 0 -2px;
    border-radius: 4px;
  }
  &       > summary::marker { content: none }
  &       > summary:before  { content: '▸' }
  &[open] > summary:before  { content: '▾' }
  &       > summary:hover:before { background: #0002; }

  /* Disable click on <summary>, but allow on its little arrow. */
  pointer-events: none;
  & > summary:before { pointer-events: auto; }
}
.resizer {
  position: absolute;
  top: -1px; right: -4px; width: 7px; /*height: 99999px;*/
  z-index: 1;
  user-select: none;
}
html.resizing, .resizer:hover { cursor: col-resize; }
html:not(.resizing) .resizer:hover, .resizer.resizing {
  background: #00f4;
}
/*[eof]*/
